body {
	background: #000639;
}

.container {
	font-family: Helvetica,non-serif;
	color: white;
}

#header-box {
	margin-top: 3em;
	margin-bottom: 0em;
}

#headline {
	font-size: 24px;
	font-weight: bold;
}

#content-box {
	margin-top: 3em;
}

#green-line {
	color: #7AB55C;
}

.input-group-addon {
	opacity: 0;
}

#email {
	font-size: 16px;
}

#subscribe-headline {
	color: #FFFFFF;
	font-size: 16px;
}

#message {
	color: #C23628;
	font-weight: bold;
}

#sign-up-btn {
	width: 100%;
	background: #5c6ac4;
	border-color: #5c6ac4;
	color: #FFFFFF;
	font-weight: bold;
}

#enclosing-div {
	text-align: center;
}

#unsubscribe-link {
	color: #FFFFFF;
	text-decoration: underline;
	display: inline-block;
	position: absolute;
	bottom: 1em;
	transform: translateX(-50%);
}